<div class="form-control">
  <h3>Tabla de trabajos</h3>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" width="10%" > </th>
      <th scope="col" >Descripcion</th>
      <th scope="col"width="10%">Ubicacion</th>
      <th scope="col" width="10">Fecha</th>
    </tr>
  </thead>
  <tbody>
     {{#each jobs}}
    <tr>
      <th scope="row">{{col1 }}</th>
      <td>{{col2 }}</td>
      <td><a href="{{col3 }}" target="_blank">{{col3 }}</a></td>
      <td>{{col4 }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
