
<div class="row" >
	<div class="col col-lg-6" id="mapid" style="height: 600px;" ></div>
	<div class="col">
		<h3>Seleccione un item para redireccionar el mapa</h3>
		<ul class="list-group">
		{{#each jsonValue}}
				<a class="list-group-item list-group-item-action" id="marker_{{@index }}" >Nombre: {{name}} => Ubicacion: {{point}} </a>
		{{/each}}
		</ul>
	</div>
</div>

<script>

	var mymap = L.map('mapid').setView([51.505, -0.09], 13);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);
	var markers = [];	
	{{#each jsonValue}}
		markers.push(L.marker([{{point}}], {
  		title: "marker_{{@index }}"
		  }
		).addTo(mymap).bindPopup("{{name}} ").on('click', clickZoom));
	{{/each}}

function markerFunction(id) {
  for (var i in markers) {
    var markerID = markers[i].options.title;
    var position = markers[i].getLatLng();
    if (markerID == id) {
    	mymap.setView(position, 15);
      markers[i].openPopup();
    };
  }
}

$("a").click(function() {
  markerFunction($(this)[0].id);
});

function clickZoom(e) {
	mymap.setView(e.target.getLatLng(),15);
}

</script>